.wrapper {
  min-height: 100vh;
  display: flex;
  background-image: url('/src/assets/blur-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;

  @media (min-width: 1384px) {
    margin-left: 200px;
  }
}

.input-base {
  min-height: 40px;
  background-color: var(--gray-700);
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  padding: 0 0.5rem 0 2rem;
  color: var(--gray-100);
  font-size: 1rem;

  &:focus {
    outline: 0.5px solid var(--blue);
  }
}

.container {
  width: 90%;
  height: fit-content;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray-300);
  border-radius: 0.75rem;
  border: 1px solid var(--gray-200);
  position: relative;
  box-shadow: -25px 25px 35px 15px rgba(0, 0, 0, 0.25);

  @media (max-height: 780px) {
    margin-top: 5rem;
  }

  @media (min-width: 1080px) {
    max-width: 960px;
  }

  form {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 50px 150px;
    gap: 1.5rem;

    @media (min-width: 720px) {
      max-width: 640px;
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--blue);

      h1 {
        font-family: var(--sub-title);
        font-weight: 400;
      }
    }

    .inputGroup {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;

      @media (min-width: 640px) {
        flex-direction: row;
        gap: 0.75rem;
      }
    }

    label {
      width: 100%;
      position: relative;

      svg {
        position: absolute;
        top: 9px;
        left: 9px;
        color: var(--blue);
      }

      input {
        @extend .input-base;
        width: 100%;
      }

      textarea {
        @extend .input-base;
        width: 100%;
        resize: vertical;
        max-height: 160px;
        padding: 0.5625rem 0.5rem 0.5rem 2rem;
        font-family: var(--text), sans-serif;
        font-size: 1rem;
      }

    }

    button {
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      border-radius: 8px;
      background-color: var(--blue);
      border: none;

      @media (min-width: 640px) {
        margin: auto auto;
        width: 180px;
      }
    }
  }
}