.container {
  width: 200px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: color 0.2s ease;

    span {
      text-align: center;
      max-width: 144px;
    }

    &:hover {
      color: var(--blue);
    }
  }
}

.active {
  background-color: var(--gray-300);
  color: var(--blue);
}