.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('/src/assets/blur-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;

  @media (min-width: 1384px) {
    margin-left: 200px;
  }
}

.title {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--blue);
  position: absolute;
  top: -4.5rem;
  left: 0;

  h1 {
    font-family: var(--sub-title);
    font-weight: normal;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-300);
    padding: 1rem;
    border-radius: 50%;
  }

  @media (max-width: 620px) {
    top: -3.5rem;

    div {
      padding: 0.5rem;
    }

    h1 {
      font-size: 1.5rem;
    }
  }
}

.container {
  width: 90%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.75rem;
  position: relative;

  @media (min-width: 1384px) {
    max-width: 1080px;
  }

  @media (min-width: 620px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 620px) {
    margin-top: 9.5rem;
  }


  .appColumn {
    display: flex;
    flex-direction: column;

    .appLinkImage {
      place-self: center stretch;
      border-radius: 12px;

      img {
        margin: auto auto;
        border-radius: 12px;
        transition: all ease-in-out 0.2s;

        &:hover {
          outline: 2px solid var(--blue);
          outline-offset: 4px;
          transform: scale(1.1);
        }
      }
    }
  }


  .moreProjects {
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: var(--blue);
    background-color: var(--gray-700);
    border: 1px solid var(--blue);
    margin-bottom: 2rem;
    transition: all ease-in-out 0.2s;
    cursor: pointer;

    &:hover {
      background-color: var(--blue);
      color: var(--gray-700);
    }

    @media (min-width: 620px) {
      width: fit-content;
      bottom: -45px;
    }
  }
}